*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    background: rgb(85, 84, 84);
    height: 400px;
}

header{
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: grey;
    text-align: start;

}

main{
    background: rgb(85, 84, 84);
    height: 1000px;
}

.nav-links{
    display: flex;
    font-size: 22px;
    padding-right: 20px;
    justify-content: space-around;
    list-style: none;
}

nav{
    flex: 1;
}

.nav-link {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px white solid;
    display: inline;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    
}

.nav-link:hover{
    background-color: white;
}

.logo-container {
    flex: 1;
}

.logo-container h4{
    font-weight: 100;
    font-size: 40px;
}

.headline h3{
    font-weight: 100;
    text-align: center;
}

.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    font-size: 24px;
    -webkit-text-stroke: black 0.5px;
    color: white;
}

.bout-me {
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

#welcome{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: white;
    -webkit-text-stroke: black 0.5px;
    animation: drp 2s ease;
    filter: drop-shadow(0px 1px 2px black);
}

.welcome{
    background: url("https://images8.alphacoders.com/599/599259.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    display: flex;
    flex: 1;
    justify-content: center;

}

.info{
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.img img{
    height: 400px;
    width: 400px;
    border: 3px solid white;
    border-radius: 3px;
}

#ask{
    color: red !important;
}

#bout-me{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 60px;
}

#answ{
    color: black;
    display: inline;
    border: white 2px solid;
    background-color: white;
}

#linkedin{
    border: white 2px solid;
    background-color: white;
}

#skill1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 60px;
    -webkit-text-stroke: black 0.5px;
    color: white;
    text-align: center;
}

.count{
    display: flex;
    font-size: 40px;
    height: 100px;
}

.skills{
    padding-top: 5vh;
}

.skills2{
    padding-top: 10vh;
}


.list2{
    display: flexbox;    
    color: white;
    text-align: center;
    align-content: center;
}

.list2 li{
    display: inline;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    border: gray solid 1px;
    background-color: gray;
    box-shadow: 0 2px 2px black;
    padding: 0pt 2pt;
}

.skillpath{
    margin-top: 10px;
    display: inline-flexbox;
    font-size: 40px;
    align-content: center;
}

.contact-info{
    height: 80px;
    background-color: black;
    display: flex;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#contact{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color:white;
    font-size: large;
    text-align: center;
    border: white solid 2px;
    padding: 5px;
    border-radius: 5px;
}

#contact-me{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color:white;
    font-size: large;
    text-align: center;
    padding: 5px;
}

#contact a{
    text-decoration: none;
    color: inherit;
}

#contact:hover{
    background-color: white;
    color: black;
}

#inProgress {
    background-color: red;
}

#skill {
    background-color: green;
}



@keyframes drp{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1500px){
    
    header{
        height: 7vh;
    }

    .skillpath{
        flex-direction: column;
    }

    .list2{
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .list2 li {
        margin-top: 4pt;
    }

    .skills2{
        margin-top: 20vh;
        flex-direction: column;
    }

    .info{
        flex-direction: column;
    }

    .img {
        align-self: center;
    }

}

@media screen and (max-width: 800px){
    header{
        height: 10vh;
    }

    .skillpath{
        flex-direction: column;
    }

    .list2{
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .list2 li {
        margin-top: 4pt;
    }

    .skills2{
        margin-top: 20vh;
        flex-direction: column;
    }

    .info{
        flex-direction: column;
    }

    .img {
        align-self: center;
    }
}

@media screen and (max-width: 500px){
    header{
        height: 15vh;
    }

    .skillpath{
        flex-direction: column;
    }

    .list2{
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .list2 li {
        margin-top: 4pt;
    }

    .skills2{
        margin-top: 20vh;
        flex-direction: column;
    }

    .info{
        flex-direction: column;
    }

    .img {
        align-self: center;
    }
}
